@charset "UTF-8";

*{
	padding: 0px;
	margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face {
	font-family: 'Anthony';
	src: url('fonts/Anthony\ Hunter.otf');
}

:root{

    --font-padrao: arial, helvetica;
	--font-titulo: 'Anthony', sans-serif;


	--cor1: #D762D9;
	--cor2: #B150F2;
	--cor3: #883DF2;
	--cor4: #282140;
	--cor5: #3113F2; 
	--cor6: #DCE6F2;
}

body{
	font-family: var(--font-padrao);
	background-image: url('imagens/91180.jpg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header{
	height: 70px;
	
}

header, nav{
	background-color: var(--cor3);
}

header h1{
	color: white;
	text-indent: 30px;
	font-size: 2.9em;
	padding-top: 10px;
	font-family: var(--font-titulo);
	text-shadow:  1px 1px 3px #282140;
}

nav{
	box-shadow: 1px 4px 4px rgb(0 0 0 / 54%);
}

nav p{
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;
}

nav a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	text-shadow: 0px 0px 3px black;
}

nav a:hover{
	background-color: var(--cor2);
	border-radius: 10px;
	color: #282140;
	transition-duration: 0.4s;
	text-shadow: none;
}

section#world h1{
    text-align: center;
	font-size: 4.5em;
	padding-top: 60px;
	color: #282140;
	padding-bottom: 50px;
}


main{
	margin: auto;
	max-width: 100%;
	min-width: 300px;

	background-image: url('imagens/istockphoto-1298777114-170667a.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

    margin-bottom: 30px;
    box-shadow: 0px 0px 6px black;
}

main h1{
    font-family: var(--font-titulo);

	color: white;
	text-indent: 10px;
	font-size: 2em;
	padding: 10px;
	text-shadow: 1px 0px 5px #282140;
    background-image: linear-gradient(to right, var(--cor3), transparent);
}

main p{
	text-indent: 10px;
	color: white;
	padding: 20px;
	text-align: justify;	
	font-size: larger;
	line-height: 1.4em;
}

.container{
	background-color: #883DF2;
	position: relative;
	padding-bottom: 30%;
	margin-top: 20px;
} 

.container > iframe{
    position: absolute;
	top: 0%;
	left: 23%;

	width: 50%;
	height: 100%;
}

#conteudo2{
	margin-top: 40px;
}

#conteudo2 > h2{
	font-size: 3.4em;
	padding: 20px 20px 0px 20px;
	font-family: var(--font-titulo);
	color: #B150F2;
	text-shadow: 1px 0px 7px #000000;
}

div{
	text-align: center;
	padding: 10px 0px 30px 0px;
}

div a{
    padding: 7px;
	border-radius: 8px;
	border: 1px solid black;
	font-weight: bold;
	text-decoration: none;
	color: var(--cor3);
	font-size: 1.1em;
}

div a:hover{
	background-color: #B150F2;
	color: #282140;
	transition-duration: 0.4s;
}

footer{
    background-color: #883DF2;
	padding: 10px;
}

footer p{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 0px 3px black;
}

footer a{
	color: white;
	text-decoration: none;
	
}

footer a:hover{
	color: #282140;
	background-color: #B150F2;
	text-shadow: none;
	padding: 4px;
	transition-duration: 0.2s;
	border-radius: 10px;
	font-weight: bold;
}